p{
    background-color: bisque;
}
main{
    /* background-color: burlywood; */
/* width: 50%;  */
}
.opp{
    background-color: black;
    color:whitesmoke;  
    padding: 1rem; 
    display: inline-block;/*now we can apply margin ,height and padding also will nor overlap*/
}
/*we cannot apply margin to inline element nor height . Padding can be applied.But padding will overlap other elements.*/

ul{
    /* display: none; it will hide the element. */
    list-style-type: none;
    text-align: right;
    margin-right: 20%;
}
li{
    display: inline-block;
    padding: 0.5rem;
    margin-inline: 1rem;
}

li a{
    color:black;
    text-decoration: none;
}

li a:hover{
    text-decoration:underline;
}

.block{
    width: 5vw;
    height: 5vw;
    background-color: black;
    color:white;
    padding: 1rem;
}
.left{
    float: left;
    margin-right: 1%;
}
p{
    /* margin-left: 10%; it will set margin from left and not from the block element end  */
}
.right{
    float:right;
    margin-left: 1%;
}

section{
    /* background-color: aqua;
    border:1px solid #333; */
    /* overflow:auto;  */
    /*overflow:auto is legacy code used to make the section cover the whole part.*/
    /* display: flow-root; */
    /*display: flow-root will cover the whole section irrespective of the text content.*/
}

.columns{
    /* column-count: 4;
    column-width: 250px; */
 /*above code's shorthand we can see below.*/
    columns:4 250px;
    column-rule: 3px solid #333; /*to separate columns.*/
    column-gap: 5rem;
}

.columns p{
    margin-top: 0;
}
h2{
    /* padding: 2rem;
    background-color: aliceblue;
    break-inside: avoid; */
    column-span: all;
    text-align: center;
}

h2 .author{
    white-space: nowrap; /*it will make this part as a whole it will not split between top and bottom all text will show together.*/
}