*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    /* background-color: bisque; */
}
main{
    /* background-color: burlywood; */
/* width: 50%;  */
}
.opp{
    background-color: black;
    color:whitesmoke;  
    padding: 1rem; 
    display: inline-block;/*now we can apply margin ,height and padding also will nor overlap*/
}
/*we cannot apply margin to inline element nor height . Padding can be applied.But padding will overlap other elements.*/

ul{
    /* display: none; it will hide the element. */
    list-style-type: none;
    text-align: right;
    margin-right: 20%;
}
li{
    display: inline-block;
    padding: 0.5rem;
    margin-inline: 1rem;
}

li a{
    color:black;
    text-decoration: none;
}

li a:hover{
    text-decoration:underline;
}

.block{
    width: 5vw;
    height: 5vw;
    background-color: black;
    color:white;
    padding: 1rem;
}
.left{
    float: left;
    margin-right: 1%;
}
p{
    /* margin-left: 10%; it will set margin from left and not from the block element end  */
}
.right{
    float:right;
    margin-left: 1%;
}

section{
    /* background-color: aqua;
    border:1px solid #333; */
    /* overflow:auto;  */
    /*overflow:auto is legacy code used to make the section cover the whole part.*/
    /* display: flow-root; */
    /*display: flow-root will cover the whole section irrespective of the text content.*/
}

.columns{
    /* column-count: 4;
    column-width: 250px; */
 /*above code's shorthand we can see below.*/
    columns:4 250px;
    column-rule: 3px solid #333; /*to separate columns.*/
    column-gap: 5rem;
}

.columns p{
    margin-top: 0;
}
h2{
    /* padding: 2rem;
    background-color: aliceblue;
    break-inside: avoid; */
    column-span: all;
    text-align: center;
}

h2 .author{
    white-space: nowrap; /*it will make this part as a whole it will not split between top and bottom all text will show together.*/
}
body{
    min-height: 200vh;
}
.outer-container{
    border:3px dashed #000;
    width: 40vw;
    height: 50vw;
    margin: 40px auto;
    position:relative;
}

.inner-container{
    border:3px solid #00f;
    width: 20vw;
    height: 30vw;
    margin: 50px auto;
}
.box{
    width: 100px;
    height: 100px;
    color: #fff;
    padding: 1rem;
}
.absolute{
    background-color: blue;
    position: absolute; 
    /* static  - default value
       absolute --> will required top ,left,right/bottom values
       it will position the element relative to the parent element.
       if parent is not set relative it will use bowser window
    */
    top:0;
    left: 0;
    z-index: 1;
    /*it will put the element on top of overlapping element.*/
}

.relative{
    background-color: #f00;
    position: relative;
    /*relative will always be positioned relative to the parent container.*/
    top: 190px;
    left: 200px;
}

.fixed{
    background-color: green;
    position: fixed;
    z-index: 1;
}

.sticky{
    position:sticky;
    background-color: #000;
    top:0; 
    /*sticky will stay till a certain position and then it will move out of the page. like above when we scroll up it will stay until it crosses the top position.*/
}

/*
html{

    scroll-behaviour:smooth;
    it will make the scroll smooth and not quick.
}
*/